*{
    padding: 0;
    margin: 0;
}

html,body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body{
    background: url(./res/background.jpg);
    background-size: cover;
    cursor: url(./res/rocket.png);
}

button.tabs{
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 0px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

button.tabs:hover{
    background-color: rgba(176, 196, 254, 0.071);
    transition: 1s;
}

.tabs_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

